## SQLite Database

### import package

In [1]:
# import sqlite3 package
import sqlite3

### connect to database

In [2]:
# create a connection to a database : create the database if not available
connection = sqlite3.connect("classroomDB.db")
connection.close()

### create table

In [3]:
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query for createing table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(50),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
);"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
#close connection
connection.close()

### insert data

In [5]:
# sample data
classroom_data = [(1, "Valee", "M", 99,98,92),
                 (2, "Bhuvana", "F", 89, 97,60),
                 (3, "Rishi", "M", 99,99,99),
                 (4, "Vaishu", "F", 80,90,100)]
#open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
# insert each student records
for student in classroom_data:
    insert_statement = """INSERT INTO classroom
    (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
    VALUES
    ({0}, "{1}", "{2}", "{3}", "{4}", "{5}");""".format(student[0], student[1], student[2], 
                                                        student[3], student[4], student[5])
    # execute insert query
    cursor.execute(insert_statement)

# commit the changes
connection.commit()
#close the connection
connection.close()

### extract data

In [6]:
# open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
#execute query
cursor.execute(query)
# fetch results
result = cursor.fetchall()
for row in result:
    print(row)

# close connction
connection.close()

(1, 'Valee', 'M', 99, 98, 92)
(2, 'Bhuvana', 'F', 89, 97, 60)
(3, 'Rishi', 'M', 99, 99, 99)
(4, 'Vaishu', 'F', 80, 90, 100)

### other database connection packages

In [14]:
# to connect the mysql database 
import pymysql

In [8]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pymysql

In [13]:
# to connect the Microsoft SQL database MSSQL
import pymssql

In [11]:
pip install pymssql

Collecting pymssql
  Downloading pymssql-2.2.3-cp37-cp37m-win32.whl (1.2 MB)
Note: you may need to restart the kernel to use updated packages.Installing collected packages: pymssql
Successfully installed pymssql-2.2.3

In [12]:
import pymssql